* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vmin;
  background-color: black;
}
.board {
  height: 80vmin;
  width: 90vmin;
  background-color: #74e274;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}
.snake {
  background-color: red;
}
.food {
  background-color: blue;
}
.box {
  border: 0.1vmin solid black;
}
h2 {
  height: 5vmin;
  color: white;
  margin-top: 3vmin;
  margin-bottom: 3vh;
}
.scoreboard {
  display: flex;
  justify-content: space-around;
}
.bt {
  display: flex;
  justify-content: center;
}
button {
  font-size: 5vmin;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 0 5vmin 0 5vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  margin-top: 3vmin;
  cursor: pointer;
}
